<div class="modal fade" id="add_beneficiary">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Beneficiary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form (submit)="saveBeneficiary()" autocomplete="off">
            <div class="form-group">             
              <div id="pass-info" class="clearfix"></div>
                  </div>
                  <div class="row">
                  <div class="form-group col-md-6">
                    <ng-select [items]="auth_countries"
                    bindLabel="name" name="CountryID" bindValue="id"
                    placeholder="Pick Country *"
                    [(ngModel)]="CountryID">
                    </ng-select>
                    </div>
                    <div class="form-group col-md-6">
                      <ng-select [items]="bene"
                      bindLabel="name" name="BeneficiaryType" bindValue="id"
                      placeholder="Beneficiary Type *"
                      [(ngModel)]="BeneficiaryType">
                      </ng-select>
                      </div>
                      <div class="form-group col-md-12">
                        <p style="color: red; margin: 10px 0 0 0; font-size: 13px">All names should match National Id</p>
                      </div>
                  <div class="form-group col-md-4">
                      <span class="input">
                          <input class="input_field" name="FirstName" [(ngModel)]="FirstName" type="text">
                            <label class="input_label">
                            <span class="input__label-content">FirstName *</span>
                          </label>
                          </span>
                    </div>
                    <div class="form-group col-md-4">
                      <span class="input">
                          <input class="input_field" name="MiddleName" [(ngModel)]="MiddleName" type="text">
                            <label class="input_label">
                            <span class="input__label-content">MiddleName *</span>
                          </label>
                          </span>
                    </div>
                    <div class="form-group col-md-4">
                      <span class="input">
                          <input class="input_field" name="LastName" [(ngModel)]="LastName" type="text">
                            <label class="input_label">
                            <span class="input__label-content">LastName *</span>
                          </label>
                          </span>
                    </div>
                  </div>
              <button type="submit" class="btn_1 rounded full-width add_top_30">Save Beneficiary</button>
                </form>
      </div>
    </div>
  </div>
</div>

<main>
		
  <div class="container margin_60_35">
<div class="row">
  <aside class="col-lg-3" id="sidebar">
    <div class="profile">
        <figure><img src="assets/user.svg" alt="Teacher"></figure>
                  <div class="profile-name">
                      <p>{{ f_name }} {{ l_name }}</p>
                  </div>
      <ul>
        <li><a routerLink="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
        <li><a routerLink="/profile"><i class="fa fa-group"></i> Profile</a></li>
        <li class="active"><a routerLink="/transactions"><i class="fa fa-money"></i> Transactions</a></li>
        <li><a routerLink="/beneficiaries"><i class="fa fa-user"></i> Beneficiaries</a></li>
        <!-- <li><i class="fa fa-bar-chart"></i> Reports</li> -->
        
      </ul>
    </div>
  </aside>
  <!--/aside -->

  <div class="col-lg-9">
    <div class="box_teacher">
                      <div class="box_highlight">
        </div>

        <h4>Beneficiaries  <button data-toggle="modal" style="width:200px; font-size:16px" data-target="#add_beneficiary" data-backdrop="false" class="btn_1 rounded full-width add_top_30 pull-right">New Beneficiary</button></h4>
          <table class="table table-responsive table-striped add_bottom_30">
            <thead>
              <tr>
                <th>Names</th>
                <th>Type</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of beneficiaries">
                <td>{{ data.firstName }} {{ data.middleName }} {{ data.lastName }}</td>
                <td>{{ data.beneficiaryType }}</td>
                <td>{{ data.countryName }}</td>
                <td>
                  <div class="dropdown">
                    <button style="cursor:pointer" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Options
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" style="cursor:pointer" (click)="deleteBeneficiary(data.id)">Delete Beneficiary</a>
                      <a class="dropdown-item" routerLink="/beneficiary_bank/{{ data.id }}">Bank Details</a>
                      <a class="dropdown-item" routerLink="/beneficiary_location/{{ data.id }}">Location Details</a>
                      <a class="dropdown-item" routerLink="/beneficiary_mobile_wallets/{{ data.id }}">Mobile Wallets</a>
                    </div>
                  </div>
                </td>
            </tr>
              
            </tbody>
          </table>
                  </div> <!-- End Box -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->
</div>
<!-- /container -->

</main>